#cards-container{
   display: grid;
   grid-template-columns: repeat(4, 1fr); 
   gap: 200px; 
   padding: 120px;
   height: 300px;
   align-items: center center;

 }



.myCard {
  background-color: transparent;
  width: 220px;
  height: 250px;
  perspective: 1000px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center ;
  margin: 0;
}
.info{
  padding-bottom: 50%;
}
.foto{

  width: 100%;
}

.innerCard {
  position: relative;
  width: 120%; 
  height: 120%; 
  text-align:left;
 
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.resultadoBusqueda{
  padding-top: 9%;
  padding-left: 42%;
  
}


.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align-last: auto;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: rgb(37, 34, 34);
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}


.frontSide,
.frontSide::before {
  background: linear-gradient(0deg, #ffe6e6 0%, #f3e1e1 50%, #dd6e6e 50%, #f83e3e 100%);
}

.backSide,
.backSide::before {
  background: linear-gradient(0deg, #f7ebd8 0%, #ecdec7 50%, #f77dee 30%, #ab39e9 100%);
}




.backSide {
  transform: rotateY(180deg);
}
body {
 background: linear-gradient(
  180deg,
  #ffadad, 
  #ffd6a5, 
  #fdffb6, 
  #caffbf, 
  #9bf6ff 
);

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}



    .nova {
        /* Agrega tus estilos personalizados aquí */
        background-color: #fd5858; /* Color de fondo verde */
        color: white;/* Color del texto blanco */
        padding: 10px; /* Relleno de 10px */
        
        border-radius: 5px;
        cursor: pointer; /* Cursor al pasar el ratón */
    }

    
    .resultadoBusqueda {
        padding: 10px; 
        margin-top: 10px; 
    }
    

#searchInput {
  padding: 10px; /* Ajusta el relleno según sea necesario */
  font-size: 16px; /* Tamaño de la fuente */
  border: 1px solid #ccc; /* Borde con color gris claro */
  border-radius: 5px; /* Bordes redondeados */
  margin-right: 10px; /* Margen derecho entre el campo de entrada y el botón */
}

/* Estilos para el botón */
button {
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  font-size: 16px; /* Tamaño de la fuente */
  background-color: #f16e6e; /* Color de fondo verde */
  color: white; /* Color del texto blanco */
  border: 1px solid #000000;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer; /* Cursor al pasar el ratón */
}




